.MessageBannerContainer {
  z-index: 99999;
  position: fixed;
  right: 0;
  top: 0;
}

.MessageBanner {
  /* z-index: 99999;
  position: fixed;
  right: 0; */
  background-color: #080808;
  opacity: 0.75;
  color: #f0f0f0;
  font-size: 18px;
  height: 20px;
}
/* .PlaybackRateMessageBanner {
  top: 0;
}

.ShouldLoopMessageBanner {
  top: 20px;
}

.IsInTheaterModeMessageBanner {
  top: 40px;
} */

.TheaterMode {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 9999 !important;
  visibility: visible !important;
  width: 95% !important;
  height: 95% !important;
}

.u-visibility-hidden {
  visibility: hidden;
}
